@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-all;
  }

  html {
    height: 100%;
    scroll-padding-top: 4rem;
    scroll-behavior: smooth;
    -webkit-tap-highlight-color: transparent;
  }

  img {
    @apply w-full h-full object-cover cursor-pointer;
  }

  button {
    @apply p-4 rounded-2xl font-medium text-xl text-white bg-[#191919] active:scale-95 border border-transparent focus:border-[#FF7601];
  }
}

@layer components {
  [disabled] {
    @apply opacity-50;
  }
}
